<nav class="navbar navbar-default">
  <div class="container">
    <div class="hidden-xs">
      <div class="menu pull-right">
        <a href="/about/">about</a>
        <a href="/about/resume/">resume</a>
        <!-- <a href="/blog/">blog</a> -->
      </div>
      <a href="/">
        <div class="title">
          <span style="font-weight:600;padding-right:3px;">minimalist</span>programmer
        </div>
      </a>
    </div>
    <div class="visible-xs">
      <center style="margin-top:10px;">
        <div class="menu pull-right">
          <a href="/about/" style="margin-right:15px;margin-left:15px;">about</a>
          <a href="/about/resume/" style="margin-right:15px;margin-left:15px;">resume</a>
          <!-- <a href="/blog/" style="margin-right:15px;margin-left:15px;">blog</a> -->
        </div>
        <a href="/" class="pull-left">
          <div class="title"><span style="font-weight:600;padding-right:3px;">minimalist</span>programmer 
          </div>
        </a>
      </center>
    </div>
    <hr class="top"/>
  </div>
  <div class="container-fluid">
    
  </div>
</nav>